.links-container{
    height: 0;
    overflow: hidden;

}
.show-links{
    height: 200px;
}
.links {
    //background-color: white;
    //color: black;
    text-transform: capitalize;
    display: block;
    padding: 10px;
    cursor: pointer;
    a{
        color: black;
        font-size: 20px;
        padding-bottom: 10px;
        &:hover{
            color: orangered;
            padding-left: 2px;
            @include transition;
        }
    }
}
.top-link{
    font-size: 25px;
    position: fixed;
    bottom: 48px;
    right: 48px;
    background-color: transparent;
    color: aqua;
    width: 32px;
    height: 32px;
    visibility: hidden;
    z-index: -100;
}
.show-link{
    visibility: visible;
    z-index: 100;
}
.fixed-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(175, 51, 5);
    z-index: 3;
    
}


.cart-btn{
    position: relative;
    cursor: pointer;
    .nav-icon{
        font-size: 24px;
    }
    .cart-items{
        position: absolute;
        top: -8px;
        right: -8px;
        background-color: orangered;
        border-radius: 30%;
        color: white;
        padding: 0 5px;
    }
}